# dependencies
/node_modules

# testing
/coverage

# export
/dist

# production
/build
/dist
/.next
/bundles

# misc
.DS_Store
Thumbs.db
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dotenv files
.env*.local

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

Example.json